<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png" style="background-color:#ffffff;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dockerDeploy" data-view="Number" data-title="Number of containers deployed" style="background-color:#96bf48;"></div>
    </li>
 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wildflycpu" data-view="Number" data-title="AppServer CPU Usage" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mysqlcpu" data-view="Number" data-title="DB CPU Usage" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="securityPass" data-view="Number" data-title="Security Tests Passed" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="securityPass" data-view="Number" data-title="Security Warnings" style="background-color:#f5a22e;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wildflymem" data-view="Meter" data-title="App Server Memory Usage" data-min="0" data-max="100"></div>
    </li>

<!--    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wildflyMEM" data-view="Number" data-title="AppServer Memory Usage" data-prefix=""></div>
    </li>
-->         
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mysqlmem" data-view="Meter" data-title="DB Memory Usage" data-min="0" data-max="100"></div>
    </li>


  </ul>
</div>
