<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1}]')
});
</script>

<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png" style="background-color:#ffffff;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dockerDeploy" data-view="Number" data-title="Containers Deployed" style="background-color:#96bf48;"></div>
    </li>
 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wildflycpu" data-view="Number" data-title="App Server CPU Usage" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mysqlcpu" data-view="Number" data-title="DB CPU Usage" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="securityPass" data-view="Number" data-title="Docker Bench Passes" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="securityWarn" data-view="Number" data-title="Docker Bench Warnings" style="background-color:#f5a22e;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wildflymem" data-view="Meter" data-title="App Server Memory Usage" data-min="0" data-max="100"></div>
    </li>

<!--    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wildflyMEM" data-view="Number" data-title="App Server Memory Usage" data-prefix=""></div>
    </li>
-->         
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mysqlmem" data-view="Meter" data-title="DB Memory Usage" data-min="0" data-max="100"></div>
    </li>


  </ul>
</div>
