<script type='text/javascript'>
$(function() {

Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for(:title) { "Heat Clinic Stats " } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png" style="background-color:#ffffff;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="containersRun" data-view="Number" data-title="Docker Containers Run" style="background-color:#96bf48;"></div>
    </li>
 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wildflycpu" data-view="Number" data-title="App CPU Usage" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mysqlcpu" data-view="Number" data-title="DB CPU Usage" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="securityPass" data-view="Number" data-title="Docker Bench Passes" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="securityWarn" data-view="Number" data-title="Docker Bench Warnings" style="background-color:#f5a22e;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wildflymem" data-view="Meter" data-title="App Memory Usage" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mysqlmem" data-view="Meter" data-title="DB Memory Usage" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="seleniumPass" data-view="Number" data-title=" Selenium Test Passes" ></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="seleniumError" data-view="Number" data-title="Selenium Test Errors" style="background-color:#f5a22e;"></div>
    </li>


  </ul>
</div>
